# Ignore everything recursively
*

# Include desired file types
!*.ts
!*.js
!*.jsx
!*.tsx
!*.json
!*.html
!*.css
!*.md
!*.yaml
!*.yml

# Check subdirectories
!*/

# Exclude other folders

# yarn
.yarn/

# resources
/public/

# redis
/redis/

# github
/.github/

# next.js
.next/

# IDE
.vscode/
